.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gauge {
  max-width: 40rem;
  margin: auto;
}

.no-display {
  display: none;
}

.form-group {
  margin: 1rem;
}

.form-control {
  width: 2.5rem;
  margin: 0.5rem;
}

.btn {
  height: 2rem;
}
